CREATE OR REPLACE FUNCTION decrement_product_stock(p_id UUID, p_quantity INT)
RETURNS BOOLEAN AS \$\$
DECLARE
    current_stock INT;
BEGIN
    SELECT stock_quantity INTO current_stock FROM products WHERE id = p_id FOR UPDATE;
    
    IF current_stock >= p_quantity THEN
        UPDATE products SET stock_quantity = stock_quantity - p_quantity WHERE id = p_id;
        RETURN TRUE;
    ELSE
        RETURN FALSE;
    END IF;
END;
\$\$ LANGUAGE plpgsql;
