CREATE OR REPLACE FUNCTION restore_order_stock(p_order_id UUID)
RETURNS VOID AS \$\$
DECLARE
    item RECORD;
BEGIN
    FOR item IN SELECT product_id, quantity FROM order_items WHERE order_id = p_order_id LOOP
        UPDATE products SET stock_quantity = stock_quantity + item.quantity WHERE id = item.product_id;
    END LOOP;
END;
\$\$ LANGUAGE plpgsql;
